header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  padding-bottom: 0.25rem;
  box-shadow: 0 4px 2px -2px var(--shadow-color);
  background: white;
  z-index: 3;
}
header img {
  width: 10rem;
  height: 10rem;
  /*box-shadow: 2px 2px 2px  var(--gray-shadow);*/
  border-radius: 50%;
}

header div.text {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav {
  position: absolute;
  right: 0;
  display: flex;
  gap: 1rem;
}

nav a {
  transition: 0.5s;
}
nav a:hover {
  transform: translateY(0.5rem);
}
